<!DOCTYPE html>
<html>
<head>
  <title>Snaply</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body class="<%= body_class %> <% if current_user %>loggedin<% else %>notloggedin<% end %>">

	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info alert-#{name}") %>
		<% end %>
		<%= yield %>
	</div>


	<div class="container" id="footer" style="opacity: 0.5;">
		<hr />
		<small class="pull-left"> &copy; 2015 Snaply app.</small>
		<small class="pull-right"><a href="http://yourstory.com/2015/02/practo-raises-30-million/" target="_blank">Snaply raises $30 million from Sequoia Capital and Matrix Partners but politely declines, "We don't need your handouts."</a><br /></small>
		
	</div>
	
	
</body>
</html>
